<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <!-- 공통 헤더 -->
    <th:block th:replace="fragments/head :: head"></th:block>
    <body>
        <!-- 첫 번째 사이드바 -->
        <th:block th:replace="fragments/sidebar :: sidebar"></th:block>
        <!-- 두 번째 사이드바 -->
        <th:block th:replace="fragments/submenu :: submenu(projects=${projects})"></th:block>
        <!-- 본문 -->
        <div class="main-content">
            <th:block layout:fragment="content"></th:block>
        </div>
        <!-- 공통 스크립트 -->
        <th:block th:replace="fragments/script :: script"></th:block>
    </body>
</html>