<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 - 서버에 예상치 못한 문제가 발생했어요.</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body class="d-flex flex-column justify-content-center align-items-center min-vh-100 bg-light text-center">

  <h1 class="display-1 fw-bold text-primary">500</h1>
  <p class="lead text-secondary mt-3">펭귄의 집이 무너졌나봐요...</p>

</body>
</html>
