<div th:fragment="sidebar" class="sidebar-middle" id="middleSidebar">
    <div id="project-list">
        </div>

    <div class="mb-2">
        <a href="/admin" class="btn btn-primary w-100">Admin</a>
    </div>
    <div class="mb-2">
        <a id="chat-link" href="#" class="btn btn-info w-100">Chat</a>
    </div>
    <div class="mb-2">
        <a href="/gantt" class="btn btn-primary w-100">Gantt</a>
    </div>
    <div class="mb-2">
        <a href="/mindmap" class="btn btn-primary w-100">Mindmap</a>
    </div>

    <div class="add-project" onclick="showAddInput()">프로젝트 추가</div>
    <div class="resizer" id="resizer"></div>

    <input type="hidden" id="current-user-id" th:value="${#authentication.principal != null ? #authentication.principal.id : ''}"/>
    <input type="hidden" id="current-user-name" th:value="${#authentication.principal != null ? #authentication.name : ''}"/>
    </div>