<div th:fragment="sidebar" class="sidebar-middle" id="middleSidebar">

	<!-- 회사 이름 -->
	<div class="team-header">
		<div class="team-name">COOP</div>
		<!-- 사이드바 닫기 아이콘 -->
		<div class="toggle-hover" id="closeToggle">←</div>
	</div>

	<!-- 프로필 -->
	<div class="profile-box">
		<div class="circle-icon">👤</div>
		<span sec:authentication="name">이름</span>
	</div>



	<!-- 프로젝트 아코디언 리스트 -->
	<div id="project-list" class="accordion"></div>

	<template id="project-item-template">
		<div class="accordion-item" data-id="">
			<h2 class="accordion-header" id="heading-__ID__">
				<!-- 프로젝트 이름 -->
				<button class="accordion-button collapsed" type="button"
					data-bs-toggle="collapse" data-bs-target="#collapse-__ID__"
					aria-expanded="false" aria-controls="collapse-__ID__"></button>
				<div class="dropdown position-relative">
					<button class="btn btn-sm btn-link" type="button"
						data-bs-toggle="dropdown" aria-expanded="false">⋮</button>
					<ul class="dropdown-menu dropdown-menu-end shadow"
						style="z-index: 1050;">
						<li><a class="dropdown-item edit-project" href="#"
							data-id="__ID__">수정</a></li>
						<li><a class="dropdown-item delete-project" href="#"
							data-id="__ID__">삭제</a></li>
					</ul>
				</div>

			</h2>
			<div class="accordion-collapse collapse">
				<div class="accordion-body"></div>
			</div>
		</div>
	</template>

	<!-- 프로젝트 추가 버튼 -->
	<div id="addProjectBtn" class="add-project ">프로젝트 추가</div>

	<!-- 프로젝트 추가 모달  -->
	<div class="modal fade" id="addProjectModal" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">프로젝트 추가</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<input type="text" id="projectNameInput" class="form-control"
						placeholder="프로젝트 이름을 입력하세요">
					<div class="invalid-feedback">프로젝트 이름을 입력해주세요.</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">취소</button>
					<button type="button" id="confirmAddProjectBtn"
						class="btn btn-primary">추가</button>
				</div>
			</div>
		</div>
	</div>

	<div class="resizer" id="resizer"></div>
</div>
